<section class="hero">
  <div class="wrap">
    <!-- LEFT -->
    <div class="left">
      <h2>
        Phim chiếu rạp 2025 trên<br/>
        <span class="brand">Bloomatic</span>
      </h2>
      <p class="sub">
        Danh sách Phim Chiếu Rạp 2025 đặc sắc và đáng mong đợi trên
        Bloomatic
      </p>

      <ul class="ticks" style="margin-bottom: 38px;">
        <li><i>✓ </i> Đa dạng phim chiếu rạp 2025</li>
        <li><i>✓ </i> Lịch chiếu phim cập nhật đầy đủ nhất</li>
        <li><i>✓ </i> Đánh giá phim rạp chi tiết chân thật</li>
        <li><i>✓ </i> Đặt vé xem phim Online dễ dàng</li>
      </ul>

      <a [routerLink]="['/schedule']" class="primary">Đặt vé ngay</a>
    </div>

    <!-- RIGHT -->
    <div class="right">
      <img src="https://www.tiendauroi.com/uploads/default/optimized/2X/7/7df0769f814a92c095e8272428b665a5262b62d4_2_1380x776.jpeg" alt="Ưu đãi QuickCinema" />
    </div>
  </div>
</section>
