:host {
  display: block;
  height: 100vh;
}

.admin-layout {
  display: grid;
  grid-template-columns: 260px 1fr;
  height: 100%;
  background-color: #f3f4f6;
}

.main {
  padding: 18px 24px;
  overflow-y: auto;
}