<h2>Đổi mật khẩu</h2>

<form [formGroup]="f" (ngSubmit)="submit()" class="form">
    <label>Mật khẩu cũ</label>
    <input [type]="showOld?'text':'password'" formControlName="oldPassword">
    <label>Mật khẩu mới</label>
    <input [type]="showNew?'text':'password'" formControlName="newPassword">
    <label>Xác nhận mật khẩu</label>
    <input [type]="showCf?'text':'password'" formControlName="confirmPassword">

    <button class="primary" type="submit" [disabled]="f.invalid">Lưu thông tin</button>
    <span class="msg" *ngIf="msg">{{msg}}</span>
</form>